@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply font-sans; }

/* Custom heading defaults */
h1 {
  @apply text-4xl md:text-6xl font-extrabold tracking-tight text-white mb-6 leading-tight antialiased;
}

h2 {
  @apply text-3xl md:text-5xl font-bold tracking-tight text-white mb-4;
}

h3 {
  @apply text-2xl md:text-3xl font-semibold text-white mb-3;
}

h4 {
  @apply text-xl font-semibold text-white mb-2;
}

h5 {
  @apply text-lg font-medium text-white mb-1;
}
